<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body> -->

    <% layout('layout/boilerplate')%>
    <div class="col-6 offset-3 card" >
        <h1>HOME Page says hello !!!!</h1>
    <a href="/professor/new" class=" btn btn-warning">PROFESSOR REGISTRATION</a><br>
    <a href="/professor/enter" class="btn btn-success">Professor login</a><br>

    <a href="/student/new" class="btn btn-warning">STUDENT REGISTRATION</a><br>
    <a href="/student/enter" class="btn btn-success">Student login</a><br>  
    <form action=""></form>
    </div>
    
    
<!-- </body>
</html> -->