<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Class</title>
</head>
<body>

    <h1>Create new class</h1>
    <form action="/professor/<%= prof._id.toString() %>/class/new" method="POST">
        <label for="_name"></label>
        <input type="text"  id="_name" name="name">
        <button>Submit</button>
    </form>
    
</html>