<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <% layout('./layout/boilerplate')%>
    <div  class="col-6 offset-3 card">
        <h1>Professor Registration</h1>


        <form action='/professor/new' method="POST">
        
            <label for="_name">Professor Name:</label>
            <input type="text" id="_name" name="name">
            <label for="_uid">Professor UID:</label>
            <input type="text" id="_uid" name="uid">
        
            
        
            <button  class="btn btn-success col-6 offset-3">Submit</button>
        </form>

    </div>
    

   
    
<!-- </body>
</html> -->

