

<h1>Student Login</h1>

<form action="/student" method="POST">
   
    <div>
        <label for="_roll">Enter Roll number:</label>
        <input type="number" id="_roll" name="roll">
    </div>
    <div>
        <label for="_password">Enter Password:</label>
        <input type="password" id="_password" name="password">
    </div>
    <button type="submit">Login</button>
</form>